body{
    background-color: black;
}

h1 {
    color: rgb(235, 31, 65);
}

.poster-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  
  .poster {
    width: 300px;
    height: 300px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .selected {
    transform: scale(1.5); /* Define o tamanho maior para o poster clicado */
  }
  
  
  